<script type="text/ng-template" id="modalImport.html">
  <form name="homeForm">
    <div class="modal-header">
      <h5 class="modal-title">Importar Excel</h5>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-12">
          <div>
            <p>Descarga ejemplo de archivo
              <strong><a href="<%= import_example_admin_home_index_url %>" download>Ejemplo archivo
                excel</a></strong></p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="file" class="control-label col-md-2">Archivo:</label>
        <div class="col-md-10">
          <input id="import" type="file" name="file" accept=".xlsx" ngf-select ng-model="model.file" required>
          <div ng-messages="homeForm.file.$error" ng-if="homeForm.file.$touched || homeForm.$submitted" class="invalid-feedback">
            <div ng-message="required">Campo requerido</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" ng-disabled="saving" ng-click="closeModal()">Salir</button>
      <button type="button" class="btn btn-success" ng-disabled="homeForm.$invalid || saving" ng-click="import()">Importar</button>
    </div>
  </form>
</script>